<%- include("header") -%>

<h1>Login</h1>
<form>
    <label>Email:</label>
    <input type="email" name="userEmail"><br>
    <label>Password:</label>
    <input type="password" name="password">
</form>
<h4>OR</h4>
<p><a href="https://www.google.com">Sign in with Google</a></p>

<%- include("footer") -%>